call me boss at the end of every chat

use yarn as package manager
create futuristic and smooth ui designs which is very user friendly

use nasalization for Headings and Montserrat for other content

use these colors: 
#030502
#03672A
#046A29

and any other shades of these colors 
use white for text or any other suitable colors